<div class="logo">
  <div class="row">
    <mat-icon svgIcon="close" class="icon close"></mat-icon>
    <mat-icon svgIcon="circle" class="icon"></mat-icon>
  </div>
  <div class="row">
    <mat-icon svgIcon="circle" class="icon"></mat-icon>
    <mat-icon svgIcon="close" class="icon close"></mat-icon>
  </div>
</div>

<h1 class="title">{{ appTitle }}</h1>

<div class="menu-list">
  <app-primary-button
    class="menu-item-button"
    routerLink="/play"
    [queryParams]="{ type: 'vsFriend' }"
    [replaceUrl]="true"
    >VS Friend</app-primary-button
  >
</div>
