<div class="wrapper">
  <div *ngIf="players$ | async as players" class="players">
    <app-player-info
      [player]="1"
      [name]="player1?.name"
      [isMyTurn]="playerTurn === 1"
    ></app-player-info>
    <app-player-info
      [player]="2"
      [name]="player2?.name"
      [isMyTurn]="playerTurn === 2"
      [invitationLink]="invitationLink"
    ></app-player-info>
  </div>

  <app-board
    *ngIf="!uiService.loadingScreen$.value && room"
    (finish)="onFinish($event)"
    (boardResult)="onBoardResult($event)"
    (playerTurnChange)="onPlayerTurnChange($event)"
    [size]="room.boardSize"
    [player1Name]="player1?.name || 'X'"
    [player2Name]="player2?.name || 'O'"
    [result]="boardResult"
    [playerTurn]="playerTurn"
    [me]="me"
    [waiting]="!canPlay"
  ></app-board>
</div>

<app-nav-menu></app-nav-menu>
