:host {
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.players {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}
