<div class="board">
  <div
    *ngFor="
      let row of boardResult$ | async;
      index as rowIndex;
      trackBy: trackByRow
    "
    class="board-row"
  >
    <div
      *ngFor="let item of row; index as itemIndex; trackBy: trackByRowItem"
      class="board-item"
    >
      <div class="square">
        <div class="item" (click)="makeMove(rowIndex, itemIndex)">
          <ng-container *ngIf="item === player1Identity">
            <mat-icon svgIcon="close" class="icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="item === player2Identity">
            <mat-icon svgIcon="circle" class="icon"></mat-icon>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
